.landing-icon {
    width: 75px;
}

.logo {
    height: 70px;
    padding: 5px 5px 10px 5px;
}

.err {
    color: red;
}

.mtop {
    margin-top: 10px;
}
.mbottom {
    margin-bottom: 10px;
}
.mright {
    margin-right: 10px;
}
.mleft {
    margin-left: 10px;
}

.row .input-field input:focus {
    border-bottom: 1px solid #263238 !important;
}

.active-link {
    background-color: #263238;
}

.main-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

body {
    font-family: 'Nunito', sans-serif;
}

.small {
    height: 60px;
}

.logo-footer {
    width: 75px;
    margin-top: 35px;
}

.account-avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

#hidden {
    display:none;
}

.fixed-width-btn {
    width: 140px;
}

.email-trunc {
    max-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media only screen and (max-width: 993px) {
    .email-trunc {
        max-width: 100px;
    }
}
