.landing-icon {
    width: 75px;
}

.logo {
    height: 70px;
    padding: 5px 5px 10px 5px;
}

.err {
    color: red;
}

.mtop {
    margin-top: 10px;
}
.mbottom {
    margin-bottom: 10px;
}
.mright {
    margin-right: 10px;
}
.mleft {
    margin-left: 10px;
}

.active-link {
    background-color: #263238;
}

.main-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: #eceff1;
}

label {
    color: #78909c !important;
}

.small {
    height: 60px;
}

.bold {
    font-weight: bold;
}

.error {
    color: #c62828;
}

.logo-footer {
    width: 75px;
    margin-top: 35px;
}

.account-avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

#hidden {
    display:none;
}

.fixed-width-btn {
    width: 140px;
}

.email-trunc {
    max-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.description {
    height: 200px;
    resize: vertical;
}

.rsvp-desc {
    white-space: pre-wrap;
}

.pin-input {
    text-align: center;
}

.rsvp-img {
    max-width: 250px !important;
}

.dboard-qr {
    width: 200px;
    margin: 0 auto;
}

.qr {
    display: block;
    margin: 0 auto;
}

.activator {
    cursor: pointer;
}

.card-btn {
    width: 125px;
}

.padded {
    padding: 35px;
}

.card-img {
    width: 250px !important;
    height: 250px !important;
    margin: 0 auto;
}

.card-panel {
    border-radius: 50px;
    padding: 10px !important;
    margin: 25px 0 40px 0;
    box-shadow: #313131 5px 5px 5px 5px;
}

.input-field input:focus + label, .materialize-textarea:focus:not([readonly]) + label {
    color: #263238 !important;
}

.input-field input:focus, .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #263238 !important;
    box-shadow: 0 1px 0 0 #263238 !important;
}

.indicators li {
    background-color: black !important;
    border: 2px solid white;
    width: 10px !important;
    height: 10px !important;
}

.indicators li.active {
    background-color: red !important;
}

@media only screen and (max-width: 600px) {
    .card-img {
        width: 150px !important;
        height: 150px !important;
    }
}
