<%- include("partials/header") %>

    <div class="about">
        <h3 class="center-text mbottom">It's never been such a breeze.</h2>
            <div class="about-box">
                <img src="/img/mailbox.png" class="mbottom" alt="mailbox">
                <p class="mbottom">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, ratione? Consequatur aperiam atque praesentium soluta exercitationem harum, facilis maxime laboriosam, nostrum animi alias nulla? Aut non consequuntur iure tempora quibusdam ut sapiente quod possimus neque pariatur. Necessitatibus unde numquam qui a ipsa et laboriosam ipsum praesentium, vel, atque, illum placeat.
                </p>
            </div>

        <h3 class="center-text mbottom">Simple. Smooth. Straightforward.</h2>
            <div class="about-box">
                <img src="/img/idea.png" class="mbottom" alt="idea">
                <p class="mbottom">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, ratione? Consequatur aperiam atque praesentium soluta exercitationem harum, facilis maxime laboriosam, nostrum animi alias nulla? Aut non consequuntur iure tempora quibusdam ut sapiente quod possimus neque pariatur. Necessitatibus unde numquam qui a ipsa et laboriosam ipsum praesentium, vel, atque, illum placeat.
                </p>
            </div>

        <h3 class="center-text mbottom">Faster feedback.</h2>
            <div class="about-box">
                <img src="/img/guest-list.png" class="mbottom" alt="guest-list">
                <p class="mbottom">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, ratione? Consequatur aperiam atque praesentium soluta exercitationem harum, facilis maxime laboriosam, nostrum animi alias nulla? Aut non consequuntur iure tempora quibusdam ut sapiente quod possimus neque pariatur. Necessitatibus unde numquam qui a ipsa et laboriosam ipsum praesentium, vel, atque, illum placeat.
                </p>
            </div>

        <h2 class="center-text mtop">
            
            <a
            <% if (locals.user) { %>
                href="/rsvp">
                <% } else { %>
                href="/users">
            <% } %>
                Get Started
            </a>

        </h3>

    </div>
    
<%- include("partials/footer") %>