<%- include("partials/header") %>

<div class="account-delete-success">

    <div class="account-deleted">
        <p>Your account and all associated RSVPs has been successfully deleted.</p>
    </div>
    
</div>

<script src="/js/redirect.js"></script>

<%- include("partials/footer") %>