<%- include("partials/header") %>

<div id="home-box" class="frontmatter padded-box">
    <h2 class="mbottom center-text">Sorry to see you go.</h2>
    <p class="center-text">Your account and all associated RSVPs have been deleted.</p>
</div>

<script src="/js/redirect.js"></script>

<%- include("partials/footer") %>