<%- include("partials/header") %>

    <div id="home-box" class="frontmatter center-text">
        <img class="favicon" src="/img/paper_airplane.png" alt="paper_airplane">
        <p>
            <span id="RSV">RSV</span><span id="me">me</span>
        </p>
        <p>Managing your guest-list just got way easier.</p>
        <a id="learn-more" href="/about">Learn more</a>
    </div>
    
    <img id="construction" src="/img/under-construction.png" alt="construction">


<%- include("partials/footer") %>