<%- include("partials/header") %>

<div id="qr">
    <a href="/rsvp/<%= rsvp.id %>">
        <img class="qr-img mtop mbottom" src="<%= rsvp.qr %>" alt="QR">
    </a>
</div>
    
<%- include("partials/footer") %>
