<%- include("partials/header") %>

<div id="box" class="frontmatter">
    <h2 class="center-text mbottom">Register</h2>
    <p class="center-text">
        Have an account already? <a href="/users/login">Login</a>
    </p>

    <% if (locals.error) { %>
    <p class="error center-text"><%=error%></p>
    <% } %>

    <form class="authForm" action="/users" method="POST">
        <label for="first_name">*First Name</label>
        <input type="first_name" name="first_name" required>
        <label for="last_name">*Last Name</label>
        <input type="last_name" name="last_name" required>
        <label for="email">*Email</label>
        <input type="email" name="email" required>
        <label for="password">*Password</label>
        <input type="password" name="password" required>
        <label for="phone">Phone <small>(Format: 123-456-7890)</small></label>
        <input type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" name="phone">
        <button class="btn submit mtop">Submit</button>
    </form>
</div>

<%- include("partials/footer") %>