<%- include("partials/header") %>

<div id="home-box" class="frontmatter">
    <h2 class="center-text mbottom">Register</h2>
    <p class="center-text">
        Have an account already? <a href="/users/login">Login</a>
    </p>

    <% if (locals.error) { %>
        <p class="error center-text"><%=error%></p>
    <% } %>

    <form class="authForm" action="/users" method="POST">
        <label for="name">*Name</label>
        <input type="name" name="name" required>
        <label for="phone">Phone</label>
        <input type="phone" name="phone">
        <label for="email">*Email</label>
        <input type="email" name="email" required>
        <label for="password">*Password</label>
        <input type="password" name="password" required>
        <button class="btn submit">Submit</button>
    </form>
</div>

<%- include("partials/footer") %>