<%- include("partials/header") %>

<div id="home-box" class="frontmatter padded-box">
    <h2 class="mbottom center-text">RSVP Deleted</h2>
    <p class="center-text">You will be redirected shortly.</p>
</div>

<script src="/js/redirect.js"></script>

<%- include("partials/footer") %>