* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #202020;
    background-color: #F0F3F4;
    font-size: 1.1em;
}

.qr-img {
    align-self: center;
    width: 200px;
}

.favicon {
    width:100px;
    position: absolute;    
    right: 1px;
    /* top: 10px; */
}

header {
    text-align: center;
    border: 2px solid #202020;
}

a {
    color:#3498DB;
    font-size: 1.2em;
    text-decoration: none;
}

.logout {
    display: inline;
}

.frontmatter {
    position: relative;
    width:450px;
    /* height: 400px; */
    margin: 150px auto 0 auto;
    text-align: center;
    border: 2px solid #202020;
    display:flex;
    flex-direction: column;
}

#RSV {
    line-height: 130px;
    font-size: 9em;
    font-family: "Abril Fatface";
}

#me {
    font-size: 3em;
    font-family: "Comfortaa";
}

form {
    display: flex;
    flex-direction: column;
}

.about {
    width: 50vw;
    margin: 150px auto 0 auto;
    border: 2px solid #202020;
    
}

.avatar {
    width:250px;
}

.guestlist {
    display: none;
}