* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #202020;
    background-color: #F0F3F4;
    font-size: 1.1em;
    font-family: "Montserrat";
    background-image: url("/img/bg.jpg");
    background-repeat: no-repeat;
}

#qr {
    margin: 33vh auto 0 auto;
    width: 200px;
}

.qr-img {
    display: block;
    margin: 0 auto;
}

.favicon {
    width:100px;
    top: -30px;
    position: absolute;    
    right: 20px;
}

.plane {
    width: 100px;
    margin: 0 auto;
}

.minheader {
    font-size: 0.33em;
    margin-top: 15px;
}

.minheader #RSV {
    line-height: 20px;
}

.icon {
    width:50px;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border-bottom: 2px solid #000000;
    min-height: 70px;
}

.home {
    width:40px;
    position: absolute;
    left: 10px;
    top: 13px;
}

header a {
    margin: 0 10px;
    font-size: 1.2em;
}

.logout {
    padding: 0;
}

.user-box {
    position: absolute;
    right: 5px;
}

.midlinks-box {
    margin-top: 30px;
}

.btn {
    padding: 5px;
    margin: 0;
    border:2px solid #3498DB;
    background-color: #F0F3F4;
    color: #3498DB;
    border-radius: 5px;
    transition-duration: 0.3s;
    outline: none;
}

.btn:hover {
    cursor: pointer;
    color: #F0F3F4;
    background-color: #3498DB;
}

a {
    color:#3498DB;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#learn-more{
    margin: 5px 0;
}

.logout {
    display: inline;
}

.frontmatter {
    position: relative;
    margin: 50px auto 0 auto;
    display:flex;
    flex-direction: column;
}

#home-box {
    width:475px;
}

#box {
    width: 800px;
}

.center-text{
    text-align: center;
}

.rsvp-img-upload {
    width: 50%;
    margin-left: 275px;
}

.rsvp-img {
    width: 400px;
    display: block;
    margin: 10px auto 0 auto;
    border-radius: 20px;
}

#RSV {
    line-height: 100px;
    font-size: 9em;
    font-family: "Abril Fatface";
}

#me {
    font-size: 3em;
    font-family: "Comfortaa";
}

form {
    display: flex;
    flex-direction: column;
    padding:20px;
}

form input {
    margin-bottom: 10px;
    font-size: 16px;
    padding: 5px;
}

form label {
    margin-bottom: 5px;
}

.authForm {
    font-size: 1.1em;
}

.about {
    width: 50vw;
    margin: 50px auto 0 auto;
    padding: 15px;
}

.about img {
    height: 60px;
    margin-right: 10px;
}

.about-box {
    display: flex;
    align-items: center;
}

.about ul {
    margin: 0 auto;
    text-align: center;
}

.avatar {
    width:250px;
}

.guestlist {
    display: none;
}

.partylist {
    list-style: none;
    margin: 0 auto;
}

.error {
    margin-top: 10px;
    color:red;
}

.mid {
    width: 160px;
    margin: 0 auto;
}

.submit {
    width: 200px;
    margin: 10px auto 0 auto;
}

.mbottom {
    margin-bottom: 10px;
}

.mtop {
    margin-top: 10px;
}

.rsvp-list-box {
    padding: 15px;
}

.rsvp-list {
    list-style: none;
}

.rsvp-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2em;
}

.rsvp-list li a {
    width: 625px;
}

.rsvp-list-actions {
    width: 200px;
}

textarea {
    resize: none;
    height: 100px;
}

.aform button {
    width: 200px;
}

.aform {
    margin: 0 auto;
}

.aform img {
    display: block;
    margin: 0 auto;
}

.aform {
    border-top: 2px solid #000000;
}

.delete {
    background-color: #F0F3F4;
    color: red;
    border: 2px solid red;
}

.delete:hover {
    color: #F0F3F4;
    background-color: red;
}

.joined p {
    padding: 10px;
}

.noborder {
    border: none;
}

/*******************************************************/

@media screen and (max-width: 768px) {
    .header {
        padding: 0;
    }

    .home, .user-box{
        position: static;
    }

    .midlinks-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }

    .midlinks-box a {
        margin-top: 10px;
    }

    #home-box {
        width: 75vw;
        margin-left: auto;
        margin-right: auto;
    }

    #box {
        width: 90vw;
        margin: 0 auto;
    }

    .frontmatter {
        margin-top: 25px;
    }

    .favicon {
        position: static;
        margin: 0 auto;
    } 

    .user-box {
        display: none;
    }

    #RSV {
        font-size: 6em;
    }

    #me {
        font-size: 2em;
    }

    .about {
        width: 90vw;
    }

    .about-box {
        flex-direction: column;
    }

    .about p {
        margin-bottom: 25px;
    }

    form {
        padding:0;
        width: 90vw;
    }

    form input {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .avatar {
        width:150px;
    }

    .authForm {
        margin-top: 20px;
    }

    .rsvp-img-upload {
        width: 66%;
        margin-left: 55px;
    }

    .rsvp-list li {
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .rsvp-list li a {
        width: 300px;
        text-align: center;
    }
    
    .rsvp-list-actions {
        margin-top: 10px;
        width: 200px;
    }

    #qr {
        margin-top: 20vh;
    }

}

@media screen and (min-width: 2300px) {
    body {
        background-size: cover;
    }
}
