* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #202020;
    background-color: #F0F3F4;
    font-size: 1.1em;
    font-family: "Montserrat";
    background-image: url("/img/bg.jpg");
    background-repeat: no-repeat;
}

#qr {
    margin: 33vh auto 0 auto;
    width: 200px;
}

.qr-img {
    display: block;
    margin: 0 auto;
}

.favicon {
    width:100px;
    position: absolute;    
    right: 20px;
}

.plane {
    width: 100px;
    margin: 0 auto;
}

.icon {
    width:50px;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.home {
    width:40px;
    position: absolute;
    left: 5px;
}

header a {
    margin: 0 10px;
    font-size: 1.2em;
}

.logout {
    padding: 0;
}

.user-box {
    position: absolute;
    right: 5px;
}

.btn {
    padding: 5px;
    margin: 0;
    border:2px solid #3498DB;
    background-color: #F0F3F4;
    color: #3498DB;
    border-radius: 5px;
    transition-duration: 0.3s;
}

.btn:hover {
    cursor: pointer;
    color: #F0F3F4;
    background-color: #3498DB;
}

a {
    color:#3498DB;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#learn-more{
    margin: 5px 0;
}

.logout {
    display: inline;
}

.frontmatter {
    position: relative;
    margin: 50px auto 0 auto;
    border: 2px solid #202020;
    display:flex;
    flex-direction: column;
}

#home-box {
    width:475px;
}

#box {
    width: 800px;
}

.center-text{
    text-align: center;
}

#RSV {
    line-height: 130px;
    font-size: 9em;
    font-family: "Abril Fatface";
}

#me {
    font-size: 3em;
    font-family: "Comfortaa";
}

form {
    display: flex;
    flex-direction: column;
    padding:20px;
}

form input {
    margin-bottom: 10px;
    font-size: 16px;
    padding: 5px;
}

form label {
    margin-bottom: 5px;
}

.authForm {
    font-size: 1.1em;
}

.about {
    width: 50vw;
    margin: 150px auto 0 auto;
    border: 2px solid #202020;
    padding: 15px;
}

.about img {
    height: 60px;
    margin-right: 10px;
}

.about-box {
    display: flex;
    align-items: center;
}

.about ul {
    margin: 0 auto;
    text-align: center;
}

.avatar {
    width:250px;
}

.guestlist {
    display: none;
}

.partylist {
    list-style: none;
    margin: 0 auto;
}

.error {
    margin-top: 10px;
    color:red;
}

.mid {
    width: 160px;
    margin: 0 auto;
}

.submit {
    width: 25%;
    margin: 0 auto;
}

.mbottom {
    margin-bottom: 10px;
}

.mtop {
    margin-top: 10px;
}

.rsvp-list-box {
    padding: 15px;
}

.rsvp-list {
    list-style: none;
}

.rsvp-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1em;
}

.rsvp-list li a {
    width: 625px;
}

.rsvp-list-actions {
    width: 180px;
}

.display {
    text-decoration: underline;
}

textarea {
    resize: none;
    height: 100px;
}

.padded-box {
    padding:20px;
}

.aform button {
    width: 200px;
}

.aform {
    margin: 0 auto;
}

.aform img {
    display: block;
    margin: 0 auto;
}

.aform input {
    margin-left: 105px;
}

.delete {
    background-color: #F0F3F4;
    color: red;
    border: 2px solid red;

}

.delete:hover {
    color: #F0F3F4;
    background-color: red;
}

.joined p {
    padding: 10px;
}

.noborder {
    border: none;
}

.cancel {
    width: 100px;
}
